name: on PR

# Controls when the workflow will run
on: [pull_request]

env:
  # Use docker.io for Docker Hub if empty
  REGISTRY: ghcr.io
  # github.repository as <account>/<repo>
  IMAGE_NAME: ${{ github.repository_owner }}

concurrency:
  group: ci-${{github.ref}}-${{github.event.pull_request.number || github.run_number}}
  cancel-in-progress: true

jobs:

  src_check:
    name: Linting
    #needs: [detect_changes]
    uses: ./.github/workflows/source_checks.yml

  #make shamrock documentation
  make_documentation:
    name: Doc
    needs: [src_check]
    uses: ./.github/workflows/make_documentation.yml

  doxygen_warn_main:
    name: Doxygen Main branch
    needs: [make_documentation]
    runs-on: ubuntu-latest

    container:
      image: ghcr.io/shamrock-code/shamrock-ci:ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: main

      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name : Install pck (doxygen)
        run: |
          sudo apt update && \
          sudo apt install -y -qq doxygen graphviz

      - name : Modify texlive packages
        run: |
          sudo apt install -y \
            texlive-full \
            dvipng \
            ghostscript \
            latexmk

      - name : Run doxygen
        run: |
          cd doc/doxygen
          doxygen dox.conf

      - name: Archive doxygen warnings
        uses: actions/upload-artifact@v4
        with:
          name: doxygen_warning_main
          path: doc/doxygen/warn_doxygen.txt

  doxygen_diff:
    name: Doxygen Diff
    needs: [doxygen_warn_main]

    runs-on: ubuntu-latest

    steps:
      #### Checkout part ####
      # Checkout merge commit if PR otherwise default
      - name : Reconfigure git
        run:  |
          git config --global --add safe.directory '*'
          git config --global --list
      - uses: actions/checkout@v4
        if: github.event_name == 'pull_request_target'
        with:
          fetch-depth: 0
          ref: "refs/pull/${{ github.event.number }}/merge"

      - uses: actions/checkout@v4
        if: github.event_name != 'pull_request_target'
        with:
          fetch-depth: 0

      - name: Show diff against main
        if: github.event_name == 'pull_request_target'
        run: git diff ${{ github.event.pull_request.base.sha }} HEAD
      #### End Checkout part ####

      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: 'Download PR doxygen warning'
        uses: actions/download-artifact@v4
        with:
          name: doxygen_warning
          path: PR_dox_output

      - name: 'Download PR doxygen warning'
        uses: actions/download-artifact@v4
        with:
          name: doxygen_warning_main
          path: main_dox_output

      - name: 'ls PR_dox_output'
        run: |
          ls PR_dox_output

      - name: 'ls main_dox_output'
        run: |
          ls main_dox_output

      - name: 'Diff'
        run: |
          python3 buildbot/doxygen_diff.py main_dox_output/warn_doxygen.txt PR_dox_output/warn_doxygen.txt > report_doc_diff.md

      - name: 'cat diff'
        run: |
          cat report_doc_diff.md

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: report_doc_diff
          path: ./report_doc_diff.md

  shamrock_linux_acpp_pylib:
    needs: [src_check]
    name: Tests
    if: ${{!contains(github.event.pull_request.labels.*.name, 'no-src-change ')}}
    uses: ./.github/workflows/shamrock-acpp-clang-py.yml

  shamrock_linux_acpp_tidy:
    needs: [src_check]
    name: Tests
    if: ${{!contains(github.event.pull_request.labels.*.name, 'no-src-change ')}}
    uses: ./.github/workflows/shamrock-acpp-clang-tidy.yml

  shamrock_linux_acpp_cov:
    needs: [src_check]
    name: Tests
    if: ${{!contains(github.event.pull_request.labels.*.name, 'no-src-change ')}}
    uses: ./.github/workflows/shamrock-acpp-clang-coverage.yml

  main_workflow:
    needs: [src_check]
    name: CI
    uses: ./.github/workflows/main_workflow.yml
    with:
      run_build_push_docker: true
      light_ci: ${{ contains(github.event.pull_request.labels.*.name, 'light-ci') }}

  make_github_page:
    name: "GithubPage"
    needs: [make_documentation, shamrock_linux_acpp_pylib, shamrock_linux_acpp_cov,shamrock_linux_acpp_tidy]
    uses: ./.github/workflows/make_website.yml
    with:
      upload-page-artifact: false
