name: on PR

# Controls when the workflow will run
on: [pull_request]

concurrency:
  group: ci-${{github.ref}}-${{github.event.pull_request.number || github.run_number}}
  cancel-in-progress: true

jobs:

  main_workflow:
    name: CI
    uses: ./.github/workflows/main_workflow.yml
    with:
      run_build_push_docker: true
      light_ci: ${{ contains(github.event.pull_request.labels.*.name, 'light-ci') }}

  all:
    needs: [ main_workflow ]
    # run always except for cancel
    if: ${{ always() && !cancelled() }}
    runs-on: ubuntu-latest
    steps:
    - name: Status summary
      run: |
        if [ "${{ needs.main_workflow.result }}" == "failure" ] || [ "${{ needs.main_workflow.result }}" == "canceled" ]; then
          echo "Tests failed."
          exit 1
        else
          exit 0
        fi
